{% extends 'base.html.twig' %}

{% block title %}ErpLigneFacturesClient index{% endblock %}

{% block body %}
    <h1>ErpLigneFacturesClient Liste :: </h1>
    <a href="{{ path('app_erp_ligne_factures_client_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Codedevis</th>
                <th>Reference</th>
                <th>Produit</th>
                <th>Quantite</th>
                <th>Prixdeventeht</th>
                <th>Tva</th>
                <th>Soustotalht</th>
                <th>Soustotalttc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for erp_ligne_factures_client in erp_ligne_factures_clients %}
            <tr>
                <td>{{ erp_ligne_factures_client.id }}</td>
                <td>{{ erp_ligne_factures_client.code }}</td>
                <td>{{ erp_ligne_factures_client.codedevis }}</td>
                <td>{{ erp_ligne_factures_client.reference }}</td>
                <td>{{ erp_ligne_factures_client.produit }}</td>
                <td>{{ erp_ligne_factures_client.quantite }}</td>
                <td>{{ erp_ligne_factures_client.prixdeventeht }}</td>
                <td>{{ erp_ligne_factures_client.tva }}</td>
                <td>{{ erp_ligne_factures_client.soustotalht }}</td>
                <td>{{ erp_ligne_factures_client.soustotalttc }}</td>
                <td>
                    <a href="{{ path('app_erp_ligne_factures_client_show', {'id': erp_ligne_factures_client.id}) }}"><p class="btn btn-info btn-lg">Détails </p></a>
                    <a href="{{ path('app_erp_ligne_factures_client_edit', {'id': erp_ligne_factures_client.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_erp_ligne_factures_client_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>
{% endblock %}
