{% extends 'base.html.twig' %}

{% block title %}LigneDevisligneFactureClientNewData index{% endblock %}

{% block body %}
    <h1>LigneDevisligneFactureClientNewData Liste :: </h1>
    <a href="{{ path('app_ligne_devisligne_facture_client_new_data_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Codedevis</th>
                <th>Reference</th>
                <th>Produit</th>
                <th>Quantite</th>
                <th>Prixdeventeht</th>
                <th>Remise</th>
                <th>Tva</th>
                <th>Soustotalht</th>
                <th>Soustotalttc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_devisligne_facture_client_new_datum in ligne_devisligne_facture_client_new_datas %}
            <tr>
                <td>{{ ligne_devisligne_facture_client_new_datum.id }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.code }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.codedevis }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.reference }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.produit }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.quantite }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.prixdeventeht }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.remise }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.tva }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.soustotalht }}</td>
                <td>{{ ligne_devisligne_facture_client_new_datum.soustotalttc }}</td>
                <td>
                    <a href="{{ path('app_ligne_devisligne_facture_client_new_data_show', {'id': ligne_devisligne_facture_client_new_datum.id}) }}"><p class="btn btn-info btn-lg">Détails </p></a>
                    <a href="{{ path('app_ligne_devisligne_facture_client_new_data_edit', {'id': ligne_devisligne_facture_client_new_datum.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ligne_devisligne_facture_client_new_data_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>
{% endblock %}
