{% extends 'base.html.twig' %}

{% block title %}CommandeClient{% endblock %}

{% block body %}





<section class="content">

<div class="container-fluid">













    <h1>CommandeClient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande_client.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ commande_client.code }}</td>
            </tr>
            <tr>
                <th>Codedevis</th>
                <td>{{ commande_client.codedevis }}</td>
            </tr>
            <tr>
                <th>Masociete</th>
                <td>{{ commande_client.masociete }}</td>
            </tr>
            <tr>
                <th>Monadresse</th>
                <td>{{ commande_client.monadresse }}</td>
            </tr>
            <tr>
                <th>Montel</th>
                <td>{{ commande_client.montel }}</td>
            </tr>
            <tr>
                <th>Monfax</th>
                <td>{{ commande_client.monfax }}</td>
            </tr>
            <tr>
                <th>Monregistre</th>
                <td>{{ commande_client.monregistre }}</td>
            </tr>
            <tr>
                <th>Monmatricule</th>
                <td>{{ commande_client.monmatricule }}</td>
            </tr>
            <tr>
                <th>Clientcode</th>
                <td>{{ commande_client.clientcode }}</td>
            </tr>
            <tr>
                <th>Clientraison</th>
                <td>{{ commande_client.clientraison }}</td>
            </tr>
            <tr>
                <th>Clientnom</th>
                <td>{{ commande_client.clientnom }}</td>
            </tr>
            <tr>
                <th>Clientprenom</th>
                <td>{{ commande_client.clientprenom }}</td>
            </tr>
            <tr>
                <th>Clientel</th>
                <td>{{ commande_client.clientel }}</td>
            </tr>
            <tr>
                <th>Clientfax</th>
                <td>{{ commande_client.clientfax }}</td>
            </tr>
            <tr>
                <th>Clientadresse</th>
                <td>{{ commande_client.clientadresse }}</td>
            </tr>
            <tr>
                <th>Clientmatricule</th>
                <td>{{ commande_client.clientmatricule }}</td>
            </tr>
            <tr>
                <th>Totalht</th>
                <td>{{ commande_client.totalht }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ commande_client.tva }}</td>
            </tr>
            <tr>
                <th>Totaltva</th>
                <td>{{ commande_client.totaltva }}</td>
            </tr>
            <tr>
                <th>Remises</th>
                <td>{{ commande_client.remises }}</td>
            </tr>
            <tr>
                <th>Timbres</th>
                <td>{{ commande_client.timbres }}</td>
            </tr>
            <tr>
                <th>Totalttc</th>
                <td>{{ commande_client.totalttc }}</td>
            </tr>
            <tr>
                <th>Chauffeurnom</th>
                <td>{{ commande_client.chauffeurnom }}</td>
            </tr>
            <tr>
                <th>Chauffeurvehicule</th>
                <td>{{ commande_client.chauffeurvehicule }}</td>
            </tr>
            <tr>
                <th>Creationcode</th>
                <td>{{ commande_client.creationcode }}</td>
            </tr>
            <tr>
                <th>Creationnom</th>
                <td>{{ commande_client.creationnom }}</td>
            </tr>
            <tr>
                <th>Creationprenom</th>
                <td>{{ commande_client.creationprenom }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ commande_client.creationdate }}</td>
            </tr>
            <tr>
                <th>Creationheure</th>
                <td>{{ commande_client.creationheure }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_client_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_commande_client_edit', {'id': commande_client.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('commande_client/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}









