{% extends 'base.html.twig' %}

{% block title %}Operation{% endblock %}

{% block body %}
    <h1>Operation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ operation.id }}</td>
            </tr>
            <tr>
                <th>Codeoperation</th>
                <td>{{ operation.codeoperation }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ operation.nom }}</td>
            </tr>
            <tr>
                <th>Tempsexecution</th>
                <td>{{ operation.tempsexecution }}</td>
            </tr>
            <tr>
                <th>Machine</th>
                <td>{{ operation.machine }}</td>
            </tr>
            <tr>
                <th>Gamme</th>
                <td>{{ operation.gamme }}</td>
            </tr>
            <tr>
                <th>Creepar</th>
                <td>{{ operation.creepar }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ operation.datecreation ? operation.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{{ operation.datemodification ? operation.datemodification|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_operation_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_operation_edit', {'id': operation.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('operation/_delete_form.html.twig') }}
{% endblock %}
