{% extends 'base.html.twig' %}

{% block title %}ErpModeleVehicule index{% endblock %}

{% block body %}
    <h1>ErpModeleVehicule Liste :: </h1>
    <a href="{{ path('app_erp_modele_vehicule_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for erp_modele_vehicule in erp_modele_vehicules %}
            <tr>
                <td>{{ erp_modele_vehicule.id }}</td>
                <td>{{ erp_modele_vehicule.code }}</td>
                <td>{{ erp_modele_vehicule.nom }}</td>
                <td>
                    <a href="{{ path('app_erp_modele_vehicule_show', {'id': erp_modele_vehicule.id}) }}"><p class="btn btn-info btn-lg">Détails </p></a>
                    <a href="{{ path('app_erp_modele_vehicule_edit', {'id': erp_modele_vehicule.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_erp_modele_vehicule_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>
{% endblock %}
