{% extends 'base.html.twig' %}

{% block title %}LigneDevis index{% endblock %}

{% block body %}
    <h1>LigneDevis Liste :: </h1>
    <a href="{{ path('app_ligne_devis_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Codedevis</th>
                <th>Reference</th>
                <th>Produit</th>
                <th>Quantite</th>
                <th>Prixdeventeht</th>
                <th>Remise</th>
                <th>Tva</th>
                <th>Soustotalht</th>
                <th>Soustotalttc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_devi in ligne_devis %}
            <tr>
                <td>{{ ligne_devi.id }}</td>
                <td>{{ ligne_devi.code }}</td>
                <td>{{ ligne_devi.codedevis }}</td>
                <td>{{ ligne_devi.reference }}</td>
                <td>{{ ligne_devi.produit }}</td>
                <td>{{ ligne_devi.quantite }}</td>
                <td>{{ ligne_devi.prixdeventeht }}</td>
                <td>{{ ligne_devi.remise }}</td>
                <td>{{ ligne_devi.tva }}</td>
                <td>{{ ligne_devi.soustotalht }}</td>
                <td>{{ ligne_devi.soustotalttc }}</td>
                <td>
                    <a href="{{ path('app_ligne_devis_show', {'id': ligne_devi.id}) }}"><p class="btn btn-info btn-lg">Détails </p></a>
                    <a href="{{ path('app_ligne_devis_edit', {'id': ligne_devi.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ligne_devis_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>
{% endblock %}
