{% extends 'base.html.twig' %}

{% block title %}LigneCommandeClient{% endblock %}

{% block body %}
    <h1>LigneCommandeClient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_commande_client.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ ligne_commande_client.code }}</td>
            </tr>
            <tr>
                <th>Codedevis</th>
                <td>{{ ligne_commande_client.codedevis }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ ligne_commande_client.reference }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ ligne_commande_client.produit }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ligne_commande_client.quantite }}</td>
            </tr>
            <tr>
                <th>Prixdeventeht</th>
                <td>{{ ligne_commande_client.prixdeventeht }}</td>
            </tr>
            <tr>
                <th>Remise</th>
                <td>{{ ligne_commande_client.remise }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ ligne_commande_client.tva }}</td>
            </tr>
            <tr>
                <th>Soustotalht</th>
                <td>{{ ligne_commande_client.soustotalht }}</td>
            </tr>
            <tr>
                <th>Soustotalttc</th>
                <td>{{ ligne_commande_client.soustotalttc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ligne_commande_client_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_ligne_commande_client_edit', {'id': ligne_commande_client.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('ligne_commande_client/_delete_form.html.twig') }}
{% endblock %}
