{% extends 'base.html.twig' %}

{% block title %}LigneDevisFournisseur{% endblock %}

{% block body %}
    <h1>LigneDevisFournisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_devis_fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ ligne_devis_fournisseur.code }}</td>
            </tr>
            <tr>
                <th>Codedevis</th>
                <td>{{ ligne_devis_fournisseur.codedevis }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                <td>{{ ligne_devis_fournisseur.produit }}</td>
            </tr>
            <tr>
                <th>Prixunitaire</th>
                <td>{{ ligne_devis_fournisseur.prixunitaire }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ligne_devis_fournisseur.quantite }}</td>
            </tr>
            <tr>
                <th>Prixtotal</th>
                <td>{{ ligne_devis_fournisseur.prixtotal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ligne_devis_fournisseur_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_ligne_devis_fournisseur_edit', {'id': ligne_devis_fournisseur.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('ligne_devis_fournisseur/_delete_form.html.twig') }}
{% endblock %}
