{% extends 'base.html.twig' %}

{% block title %}ErpFacturesFournisseurNew index{% endblock %}

{% block body %}
    <h1>ErpFacturesFournisseurNew Liste :: </h1>
    <a href="{{ path('app_erp_factures_fournisseur_new_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Codedevis</th>
                <th>Masociete</th>
                <th>Monadresse</th>
                <th>Montel</th>
                <th>Monfax</th>
                <th>Monregistre</th>
                <th>Monmatricule</th>
                <th>Clientcode</th>
                <th>Clientraison</th>
                <th>Clientnom</th>
                <th>Clientprenom</th>
                <th>Clienttel</th>
                <th>Clientfax</th>
                <th>Clientadresse</th>
                <th>Clientmatricule</th>
                <th>Totalht</th>
                <th>Tva</th>
                <th>Totaltva</th>
                <th>Remises</th>
                <th>Timbres</th>
                <th>Totalttc</th>
                <th>Chauffeurnom</th>
                <th>Chauffeurvehicule</th>
                <th>Creationcode</th>
                <th>Creationnom</th>
                <th>Creationprenom</th>
                <th>Creationdate</th>
                <th>Creationheure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for erp_factures_fournisseur_new in erp_factures_fournisseur_news %}
            <tr>
                <td>{{ erp_factures_fournisseur_new.id }}</td>
                <td>{{ erp_factures_fournisseur_new.code }}</td>
                <td>{{ erp_factures_fournisseur_new.codedevis }}</td>
                <td>{{ erp_factures_fournisseur_new.masociete }}</td>
                <td>{{ erp_factures_fournisseur_new.monadresse }}</td>
                <td>{{ erp_factures_fournisseur_new.montel }}</td>
                <td>{{ erp_factures_fournisseur_new.monfax }}</td>
                <td>{{ erp_factures_fournisseur_new.monregistre }}</td>
                <td>{{ erp_factures_fournisseur_new.monmatricule }}</td>
                <td>{{ erp_factures_fournisseur_new.clientcode }}</td>
                <td>{{ erp_factures_fournisseur_new.clientraison }}</td>
                <td>{{ erp_factures_fournisseur_new.clientnom }}</td>
                <td>{{ erp_factures_fournisseur_new.clientprenom }}</td>
                <td>{{ erp_factures_fournisseur_new.clienttel }}</td>
                <td>{{ erp_factures_fournisseur_new.clientfax }}</td>
                <td>{{ erp_factures_fournisseur_new.clientadresse }}</td>
                <td>{{ erp_factures_fournisseur_new.clientmatricule }}</td>
                <td>{{ erp_factures_fournisseur_new.totalht }}</td>
                <td>{{ erp_factures_fournisseur_new.tva }}</td>
                <td>{{ erp_factures_fournisseur_new.totaltva }}</td>
                <td>{{ erp_factures_fournisseur_new.remises }}</td>
                <td>{{ erp_factures_fournisseur_new.timbres }}</td>
                <td>{{ erp_factures_fournisseur_new.totalttc }}</td>
                <td>{{ erp_factures_fournisseur_new.chauffeurnom }}</td>
                <td>{{ erp_factures_fournisseur_new.chauffeurvehicule }}</td>
                <td>{{ erp_factures_fournisseur_new.creationcode }}</td>
                <td>{{ erp_factures_fournisseur_new.creationnom }}</td>
                <td>{{ erp_factures_fournisseur_new.creationprenom }}</td>
                <td>{{ erp_factures_fournisseur_new.creationdate }}</td>
                <td>{{ erp_factures_fournisseur_new.creationheure }}</td>
                <td>
                    <a href="{{ path('app_erp_factures_fournisseur_new_show', {'id': erp_factures_fournisseur_new.id}) }}"><p class="btn btn-info btn-lg">Détails </p></a>
                    <a href="{{ path('app_erp_factures_fournisseur_new_edit', {'id': erp_factures_fournisseur_new.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="31">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_erp_factures_fournisseur_new_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>
{% endblock %}
