{% extends 'base.html.twig' %}

{% block title %}ErpTypeMatierePremiere{% endblock %}

{% block body %}
    <h1>ErpTypeMatierePremiere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ erp_type_matiere_premiere.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ erp_type_matiere_premiere.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ erp_type_matiere_premiere.nom }}</td>
            </tr>
            <tr>
                <th>Creepar</th>
                <td>{{ erp_type_matiere_premiere.creepar }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ erp_type_matiere_premiere.datecreation ? erp_type_matiere_premiere.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{{ erp_type_matiere_premiere.datemodification ? erp_type_matiere_premiere.datemodification|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_erp_type_matiere_premiere_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_erp_type_matiere_premiere_edit', {'id': erp_type_matiere_premiere.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('erp_type_matiere_premiere/_delete_form.html.twig') }}
{% endblock %}
