{% extends 'base.html.twig' %}

{% block title %}ErpIntervenantCategorie index{% endblock %}

{% block body %}
    <h1>ErpIntervenantCategorie Liste :: </h1>
    <a href="{{ path('app_erp_intervenant_categorie_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Creepar</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for erp_intervenant_categorie in erp_intervenant_categories %}
            <tr>
                <td>{{ erp_intervenant_categorie.id }}</td>
                <td>{{ erp_intervenant_categorie.code }}</td>
                <td>{{ erp_intervenant_categorie.nom }}</td>
                <td>{{ erp_intervenant_categorie.creepar }}</td>
                <td>{{ erp_intervenant_categorie.datecreation ? erp_intervenant_categorie.datecreation|date('Y-m-d') : '' }}</td>
                <td>{{ erp_intervenant_categorie.datemodification ? erp_intervenant_categorie.datemodification|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_erp_intervenant_categorie_show', {'id': erp_intervenant_categorie.id}) }}"><p class="btn btn-info btn-lg">Détails </p></a>
                    <a href="{{ path('app_erp_intervenant_categorie_edit', {'id': erp_intervenant_categorie.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_erp_intervenant_categorie_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>
{% endblock %}
