{% extends 'base.html.twig' %}

{% block title %}Secteur{% endblock %}

{% block body %}
    <h1>Secteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secteur.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ secteur.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ secteur.nom }}</td>
            </tr>
            <tr>
                <th>Creepar</th>
                <td>{{ secteur.creepar }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ secteur.datecreation ? secteur.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_secteur_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_secteur_edit', {'id': secteur.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('secteur/_delete_form.html.twig') }}
{% endblock %}
