{% extends 'base.html.twig' %}

{% block title %}ErpParametres index{% endblock %}

{% block body %}

<section class="content">

<div class="container-fluid">








    <h1>ErpParametres Liste :: </h1>
    <a href="{{ path('app_erp_parametres_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Logosociete</th>
                <th>Nomsociete</th>
                <th>Adresse</th>
                <th>Codepostal</th>
                <th>Ville</th>
                <th>Tel</th>
                <th>Tel2</th>
                <th>Fax</th>
                <th>Registrecommerce</th>
                <th>Matriculefiscale</th>
                <th>Rib</th>
                <th>Creepar</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for erp_parametre in erp_parametres %}
            <tr>
                <td>{{ erp_parametre.id }}</td>
                <td>{{ erp_parametre.code }}</td>
                <td>{{ erp_parametre.logosociete }}</td>
                <td>{{ erp_parametre.nomsociete }}</td>
                <td>{{ erp_parametre.adresse }}</td>
                <td>{{ erp_parametre.codepostal }}</td>
                <td>{{ erp_parametre.ville }}</td>
                <td>{{ erp_parametre.tel }}</td>
                <td>{{ erp_parametre.tel2 }}</td>
                <td>{{ erp_parametre.fax }}</td>
                <td>{{ erp_parametre.registrecommerce }}</td>
                <td>{{ erp_parametre.matriculefiscale }}</td>
                <td>{{ erp_parametre.rib }}</td>
                <td>{{ erp_parametre.creepar }}</td>
                <td>{{ erp_parametre.datecreation ? erp_parametre.datecreation|date('Y-m-d') : '' }}</td>
                <td>{{ erp_parametre.datemodification ? erp_parametre.datemodification|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_erp_parametres_show', {'id': erp_parametre.id}) }}"><p class="btn btn-info btn-lg">Détails </p></a>
                    <a href="{{ path('app_erp_parametres_edit', {'id': erp_parametre.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_erp_parametres_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>





    </div>
</section>








{% endblock %}
