{% extends 'base.html.twig' %}

{% block title %}DeviserpLigneDevisFournisseursNew index{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>DeviserpLigneDevisFournisseursNew Liste :: </h1>
    <a href="{{ path('app_deviserp_ligne_devis_fournisseurs_new_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Codedevis</th>
                <th>Masociete</th>
                <th>Monadresse</th>
                <th>Montel</th>
                <th>Monfax</th>
                <th>Monregistre</th>
                <th>Monmatricule</th>
                <th>Clientcode</th>
                <th>Clientraison</th>
                <th>Clientnom</th>
                <th>Clientprenom</th>
                <th>Clienttel</th>
                <th>Clientfax</th>
                <th>Clientadresse</th>
                <th>Clientmatricule</th>
                <th>Totalht</th>
                <th>Totaltva</th>
                <th>Remises</th>
                <th>Timbres</th>
                <th>Totalttc</th>
                <th>Chauffeurnom</th>
                <th>Chauffeurvehicule</th>
                <th>Creationcode</th>
                <th>Creationnom</th>
                <th>Creationprenom</th>
                <th>Creationdate</th>
                <th>Creationheure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deviserp_ligne_devis_fournisseurs_new in deviserp_ligne_devis_fournisseurs_news %}
            <tr>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.id }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.code }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.codedevis }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.masociete }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.monadresse }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.montel }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.monfax }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.monregistre }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.monmatricule }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.clientcode }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.clientraison }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.clientnom }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.clientprenom }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.clienttel }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.clientfax }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.clientadresse }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.clientmatricule }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.totalht }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.totaltva }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.remises }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.timbres }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.totalttc }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.chauffeurnom }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.chauffeurvehicule }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.creationcode }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.creationnom }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.creationprenom }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.creationdate }}</td>
                <td>{{ deviserp_ligne_devis_fournisseurs_new.creationheure }}</td>
                <td>
                    <a href="{{ path('app_deviserp_ligne_devis_fournisseurs_new_show', {'id': deviserp_ligne_devis_fournisseurs_new.id}) }}"><p class="btn btn-info btn-lg">Détails </p></a>
                    <a href="{{ path('app_deviserp_ligne_devis_fournisseurs_new_edit', {'id': deviserp_ligne_devis_fournisseurs_new.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="30">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_deviserp_ligne_devis_fournisseurs_new_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>











</section>
</div>













{% endblock %}
