{% extends 'base.html.twig' %}

{% block title %}ErpHeureSupp{% endblock %}

{% block body %}
    <h1>ErpHeureSupp</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ erp_heure_supp.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ erp_heure_supp.code }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ erp_heure_supp.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ erp_heure_supp.description }}</td>
            </tr>
            <tr>
                <th>Codeemployee</th>
                <td>{{ erp_heure_supp.codeemployee }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ erp_heure_supp.datedebut }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ erp_heure_supp.datefin }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ erp_heure_supp.categorie }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ erp_heure_supp.etat }}</td>
            </tr>
            <tr>
                <th>Creepar</th>
                <td>{{ erp_heure_supp.creepar }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ erp_heure_supp.datecreation }}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{{ erp_heure_supp.datemodification }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_erp_heure_supp_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_erp_heure_supp_edit', {'id': erp_heure_supp.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('erp_heure_supp/_delete_form.html.twig') }}
{% endblock %}
