{% extends 'base.html.twig' %}

{% block title %}ErpContactCategorie{% endblock %}

{% block body %}
    <h1>ErpContactCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ erp_contact_categorie.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ erp_contact_categorie.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ erp_contact_categorie.nom }}</td>
            </tr>
            <tr>
                <th>Creepar</th>
                <td>{{ erp_contact_categorie.creepar }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ erp_contact_categorie.datecreation ? erp_contact_categorie.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{{ erp_contact_categorie.datemodification ? erp_contact_categorie.datemodification|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_erp_contact_categorie_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_erp_contact_categorie_edit', {'id': erp_contact_categorie.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('erp_contact_categorie/_delete_form.html.twig') }}
{% endblock %}
