{% extends 'base.html.twig' %}

{% block title %}ErpCategoriePremiere{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>ErpCategoriePremiere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ erp_categorie_premiere.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ erp_categorie_premiere.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ erp_categorie_premiere.nom }}</td>
            </tr>
            <tr>
                <th>Creepar</th>
                <td>{{ erp_categorie_premiere.creepar }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ erp_categorie_premiere.datecreation ? erp_categorie_premiere.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{{ erp_categorie_premiere.datemodification ? erp_categorie_premiere.datemodification|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_erp_categorie_premiere_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_erp_categorie_premiere_edit', {'id': erp_categorie_premiere.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('erp_categorie_premiere/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}
