{% extends 'base.html.twig' %}

{% block title %}ContratClient index{% endblock %}

{% block body %}



<section class="content">

<div class="container-fluid">










    <h1>ContratClient Liste :: </h1>
    <a href="{{ path('app_contrat_client_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Fichier</th>
                <th>Creepar</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat_client in contrat_clients %}
            <tr>
                <td>{{ contrat_client.id }}</td>
                <td>{{ contrat_client.code }}</td>
                <td>{{ contrat_client.nom }}</td>
                <td>{{ contrat_client.description }}</td>
                <td>{{ contrat_client.fichier }}</td>
                <td>{{ contrat_client.creepar }}</td>
                <td>{{ contrat_client.datecreation ? contrat_client.datecreation|date('Y-m-d') : '' }}</td>
                <td>{{ contrat_client.datemodification ? contrat_client.datemodification|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_contrat_client_show', {'id': contrat_client.id}) }}"><p class="btn btn-info btn-lg">Détails </p></a>
                    <a href="{{ path('app_contrat_client_edit', {'id': contrat_client.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_client_new') }}"><p class="btn btn-primary btn-lg">Creér Nouveau : </p> </a>











</section>
</div>













{% endblock %}
