{% extends 'base.html.twig' %}

{% block title %}ErpBonDeReceptionFournisseur{% endblock %}

{% block body %}


<section class="content">

<div class="container-fluid">









    <h1>ErpBonDeReceptionFournisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ erp_bon_de_reception_fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ erp_bon_de_reception_fournisseur.code }}</td>
            </tr>
            <tr>
                <th>Codedevis</th>
                <td>{{ erp_bon_de_reception_fournisseur.codedevis }}</td>
            </tr>
            <tr>
                <th>Masociete</th>
                <td>{{ erp_bon_de_reception_fournisseur.masociete }}</td>
            </tr>
            <tr>
                <th>Monadresse</th>
                <td>{{ erp_bon_de_reception_fournisseur.monadresse }}</td>
            </tr>
            <tr>
                <th>Montel</th>
                <td>{{ erp_bon_de_reception_fournisseur.montel }}</td>
            </tr>
            <tr>
                <th>Monfax</th>
                <td>{{ erp_bon_de_reception_fournisseur.monfax }}</td>
            </tr>
            <tr>
                <th>Monregistre</th>
                <td>{{ erp_bon_de_reception_fournisseur.monregistre }}</td>
            </tr>
            <tr>
                <th>Monmatricule</th>
                <td>{{ erp_bon_de_reception_fournisseur.monmatricule }}</td>
            </tr>
            <tr>
                <th>Clientcode</th>
                <td>{{ erp_bon_de_reception_fournisseur.clientcode }}</td>
            </tr>
            <tr>
                <th>Clientraison</th>
                <td>{{ erp_bon_de_reception_fournisseur.clientraison }}</td>
            </tr>
            <tr>
                <th>Clientnom</th>
                <td>{{ erp_bon_de_reception_fournisseur.clientnom }}</td>
            </tr>
            <tr>
                <th>Clientprenom</th>
                <td>{{ erp_bon_de_reception_fournisseur.clientprenom }}</td>
            </tr>
            <tr>
                <th>Clienttel</th>
                <td>{{ erp_bon_de_reception_fournisseur.clienttel }}</td>
            </tr>
            <tr>
                <th>Clientfax</th>
                <td>{{ erp_bon_de_reception_fournisseur.clientfax }}</td>
            </tr>
            <tr>
                <th>Clientadresse</th>
                <td>{{ erp_bon_de_reception_fournisseur.clientadresse }}</td>
            </tr>
            <tr>
                <th>Clientmatricule</th>
                <td>{{ erp_bon_de_reception_fournisseur.clientmatricule }}</td>
            </tr>
            <tr>
                <th>Totalht</th>
                <td>{{ erp_bon_de_reception_fournisseur.totalht }}</td>
            </tr>
            <tr>
                <th>Totaltva</th>
                <td>{{ erp_bon_de_reception_fournisseur.totaltva }}</td>
            </tr>
            <tr>
                <th>Remises</th>
                <td>{{ erp_bon_de_reception_fournisseur.remises }}</td>
            </tr>
            <tr>
                <th>Timbres</th>
                <td>{{ erp_bon_de_reception_fournisseur.timbres }}</td>
            </tr>
            <tr>
                <th>Totalttc</th>
                <td>{{ erp_bon_de_reception_fournisseur.totalttc }}</td>
            </tr>
            <tr>
                <th>Chauffeurnom</th>
                <td>{{ erp_bon_de_reception_fournisseur.chauffeurnom }}</td>
            </tr>
            <tr>
                <th>Chauffeurvehicule</th>
                <td>{{ erp_bon_de_reception_fournisseur.chauffeurvehicule }}</td>
            </tr>
            <tr>
                <th>Creationcode</th>
                <td>{{ erp_bon_de_reception_fournisseur.creationcode }}</td>
            </tr>
            <tr>
                <th>Creationnom</th>
                <td>{{ erp_bon_de_reception_fournisseur.creationnom }}</td>
            </tr>
            <tr>
                <th>Creationprenom</th>
                <td>{{ erp_bon_de_reception_fournisseur.creationprenom }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ erp_bon_de_reception_fournisseur.creationdate }}</td>
            </tr>
            <tr>
                <th>Creationheure</th>
                <td>{{ erp_bon_de_reception_fournisseur.creationheure }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_erp_bon_de_reception_fournisseur_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_erp_bon_de_reception_fournisseur_edit', {'id': erp_bon_de_reception_fournisseur.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('erp_bon_de_reception_fournisseur/_delete_form.html.twig') }}











</section>
</div>













{% endblock %}
