{% extends 'base.html.twig' %}

{% block title %}ErpVehicule{% endblock %}

{% block body %}
    <h1>ErpVehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ erp_vehicule.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ erp_vehicule.code }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ erp_vehicule.image }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ erp_vehicule.nom }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ erp_vehicule.matricule }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ erp_vehicule.modele }}</td>
            </tr>
            <tr>
                <th>Dateachat</th>
                <td>{{ erp_vehicule.dateachat ? erp_vehicule.dateachat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datemiseensirculation</th>
                <td>{{ erp_vehicule.datemiseensirculation ? erp_vehicule.datemiseensirculation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Creepar</th>
                <td>{{ erp_vehicule.creepar }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ erp_vehicule.datecreation ? erp_vehicule.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{{ erp_vehicule.datemodification ? erp_vehicule.datemodification|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_erp_vehicule_index') }}"class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_erp_vehicule_edit', {'id': erp_vehicule.id}) }}"><p class="btn btn-warning btn-lg">Modifier </p></a>

    {{ include('erp_vehicule/_delete_form.html.twig') }}
{% endblock %}
